<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<div layout:fragment="content" class="container">
  <div class="row no-print">
    <div class="job__title">
      <div class="job__title__name">
        Gym Dashboard
      </div>
      <div class="job__title_nav">
        <div class="job__title__nav__item first">
          <a href="/">
            Home
          </a>
        </div>
        <div class="job__title__nav__item">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="job__title__nav__item last">
          Gym Dashboard
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="join-content">
      <div class="join-content__btn no-print">
        <div class="join-content__btn__item">
          Export
        </div>
        <div class="join-content__btn__item" onclick="window.print();">
          Print
        </div>
      </div>
      <div class="join-content__child">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Session</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="reg:${listReg}">
            <td th:text = "${reg.name}"></td>
            <td th:text = "${reg.email}"></td>
            <td th:text = "${reg.phone}"></td>
            <td th:if="${reg.session_workout == '1'}">Morning</td>
            <td th:if="${reg.session_workout == '2'}">Afternoon</td>
            <td th:if="${reg.session_workout == '3'}">Evening</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>