<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
    <th:block th:replace="layout :: header"></th:block>
    <div class="container">
        <div class="row">
            <div class="job__title">
                <div class="job__title__name">
                    Checkout
                </div>
                <div class="job__title_nav">
                    <div class="job__title__nav__item first">
                        <a href="/cart">
                            Cart
                        </a>
                    </div>
                    <div class="job__title__nav__item">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                    <div class="job__title__nav__item last">
                        Checkout
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 20px 0;">
            <div class="col-lg-8 col-md-12 col-sm-12" style="padding: 20px 40px;border-radius: 20px; border: 1px solid grey;">
                <div class="check-out__info">
                    <div class="check-out__info__title">
                        Shiping Infomation
                    </div>
                    <form th:action="@{/cart/checkout}" th:object="${user}" method="post" class="check-out__info__form">
                        <input type="text" required placeholder="Full name *" th:field="*{name}">
                        <input type="text" required placeholder="Phone number *" th:field="*{phone}">
                        <select name="province" class="city__content" required>
                            <option value="">Province</option>
                        </select>
                        <select name="district" class="district__content" required>
                            <option value="">District</option>
                        </select>
                        <select name="ward" class="ward__content" required>
                            <option value="">Ward</option>
                        </select>
                        <input type="text" required placeholder="Your address *" th:field="*{address}">
                        <select name="payment" >
                            <option value="cash">Cash on delivery</option>
                            <option value="vnpay">VNPAY</option>
                            <option value="qr">QR Code</option>
                        </select>
                        <button>Check Out</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="check-out__summary">
                    <div class="check-out__summary__list">
                        <div class="check-out__summary__item" th:each="book:${listCart}">
                            <div class="check-out__summary__item__name">
                                <span th:text = "${book.title}"></span>
                            </div>
                            <div class="check-out__summary__item__price">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                <span th:text = "${book.price}"></span>
                            </div>
                        </div>
                    </div>
                    <form class="check-out__summary__form" th:if="${voucherValue == 0}" th:action="@{/cart/checkout/apply-voucher}" method="post">
                        <input type="text" id="" placeholder="Giftcode here" required name="voucher">
                        <button type="submit">Apply</button>
                    </form>
                    <div class="check-out__summary__money">
                        <div class="check-out__summary__money__item">
                            <span>Voucher</span>
                            <div class="check-out__summary__money__item__value">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                <span th:text = "${voucherValue}"></span>
                            </div>
                        </div>
                        <div class="check-out__summary__money__item">
                            <span>Shipping</span>
                            <div class="check-out__summary__money__item__value">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                <span>0</span>
                            </div>
                        </div>
                        <div class="check-out__summary__money__item">
                            <span style="font-weight: 650;">Total</span>
                            <div class="check-out__summary__money__item__value">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                <span th:text = "${totalPrice}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/handel-city.js}"></script>
    <th:block th:replace="layout :: footer"></th:block>
</body>
</html>