<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Account</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
    <th:block th:replace="layout :: header"></th:block>
    <div class="container">
        <div class="row">
            <div class="job__title">
                <div class="job__title__name">
                    Update
                </div>
                <div class="job__title_nav">
                    <div class="job__title__nav__item first">
                        <a href="/">
                            Home
                        </a>
                    </div>
                    <div class="job__title__nav__item">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                    <div class="job__title__nav__item last">
                        Update
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="update__form__wrap">
                <form th:action="@{/account/update/{id}(id=${user.user_id})}" th:object="${user}" method="post" class="update__form">
                    <input type="text" th:field="*{name}" placeholder="Your name...">
                    <select name="province" class="city__content" required>
                        <option value="">Province</option>
                    </select>
                    <select name="district" class="district__content" required>
                        <option value="">District</option>
                    </select>
                    <select name="ward" class="ward__content" required>
                        <option value="">Ward</option>
                    </select>
                    <input type="text" th:field="*{address}" placeholder="Your address...">
                    <input type="text" th:field="*{phone}" placeholder="Phone number...">
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/handel-city.js}"></script>
    <th:block th:replace="layout :: footer"></th:block>
</body>
</html>