<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Đăng nhập - Đăng ký</title>
</head>
<body>
  <th:block th:replace="layout :: header"></th:block>
  <div layout:fragment="content" class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="#" class="social">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Username" required/>
        <input type="email" placeholder="Email" required/>
        <input type="password" placeholder="Password" required/>
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="#" class="social">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
        <span>or use your account</span>
        <input type="email" placeholder="Username or Email" required/>
        <input type="password" placeholder="Password" required/>
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn" onclick="handelLoginForm()">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp" onclick="handelLoginForm()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <th:block th:replace="layout :: footer"></th:block>
  </body>
</html>