<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
    <th:block th:replace="layout :: header"></th:block>
    <div class="container">
        <div class="row">
            <div class="job__title">
                <div class="job__title__name">
                    Orders
                </div>
                <div class="job__title_nav">
                    <div class="job__title__nav__item first">
                        <a href="/account">
                            Account
                        </a>
                    </div>
                    <div class="job__title__nav__item">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                    <div class="job__title__nav__item last">
                        Orders
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 20px 0;" th:if="${listOrder.size() != 0}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total amount</th>
                    <th scope="col">Payment status</th>
                    <th scope="col">Order status</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order:${listOrder}">
                    <th scope="row" th:text="${order.id}"></th>
                    <td th:text="${order.order_date}"></td>
                    <td th:text="${order.totalAmount}"></td>
                    <td th:if="${order.isPaid != false}">Paid</td>
                    <td th:if="${order.isPaid == false}">Unpaid</td>
                    <td th:text="${order.type.name}"></td>
                    <td>
                        <div class="orders__btn">
                            <a th:href="@{/account/orders/detail/{id}(id=${order.id})}">Detail</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" th:if="${listOrder.size() == 0}">
            <div class="product__error">
                <div class="product__error__type">
                    Sorry
                </div>
                <div class="product__error__desc">
                    You haven't placed any orders yet!
                </div>
                <div class="product__error__btn">
                    <a href="/">Home Page</a>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="layout :: footer"></th:block>
</body>
</html>