<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calculator BMI</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
    <th:block th:replace="layout :: header"></th:block>
    <div class="container">
        <div class="row">
            <div class="job__title">
                <div class="job__title__name">
                    Caculator BMI
                </div>
                <div class="job__title_nav">
                    <div class="job__title__nav__item first">
                        <a href="/">
                            Home
                        </a>
                    </div>
                    <div class="job__title__nav__item">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                    <div class="job__title__nav__item last">
                        Caculator BMI
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 20px 0;">
            <div class="bmi__form__wrap">
                <form class="bmi__form" th:action="@{/calc-bmi}" method="post">
                    <input type="number" placeholder="*Weight" required autofocus name="weight">
                    <input type="number" placeholder="*Height" required name="height">
                    <input type="number" placeholder="*Age" required name="age">
                    <select required>
                        <option value="0">Job</option>
                        <option value="1">Student</option>
                        <option value="2">Office</option>
                    </select>
                    <button type="submit">Caculator</button>
                </form>
            </div>
        </div>
    </div>
    <th:block th:replace="layout :: footer"></th:block>
</body>
</html>