<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Make An Appointment</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
    <th:block th:replace="layout :: header"></th:block>
    <div class="container">
        <div class="row">
            <div class="job__title">
                <div class="job__title__name">
                    Make An Appointment
                </div>
                <div class="job__title_nav">
                    <div class="job__title__nav__item first">
                        <a href="/">
                            Home
                        </a>
                    </div>
                    <div class="job__title__nav__item">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                    <div class="job__title__nav__item last">
                        Make An Appointment
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 20px 0;">
            <div class="doctor__form-wrap">
                <form action="" class="doctor__form" th:action="@{/doctor}" method="post">
                    <input type="date" required name="date">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <th:block th:replace="layout :: footer"></th:block>
</body>
</html>