<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Register Workout</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
  <th:block th:replace="layout :: header"></th:block>
  <div class="container">
    <div class="row">
      <div class="job__title">
        <div class="job__title__name">
          Register Workout
        </div>
        <div class="job__title_nav">
          <div class="job__title__nav__item first">
            <a href="/">
              Home
            </a>
          </div>
          <div class="job__title__nav__item">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="job__title__nav__item last">
            Register Workout
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 20px 0;">
      <div class="bmi__form__wrap">
        <form class="bmi__form" method="post" th:action="@{'/workout/register/' + ${id}}">
          <input type="text" name="name" placeholder="*Name" required autofocus>
          <input type="text" name="phone" placeholder="*Phone" required>
          <input type="email" name="email" placeholder="*Email" required>
          <select id="" name="session" required>
            <option value="0">Session</option>
            <option value="1">Morning</option>
            <option value="2">Afternoon</option>
            <option value="3">Evening</option>
          </select>
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
  <th:block th:replace="layout :: footer"></th:block>
</body>
</html>