<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Workout</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
  <th:block th:replace="layout :: header"></th:block>
  <div class="container">
    <div class="row">
      <div class="job__title">
        <div class="job__title__name">
          Workout
        </div>
        <div class="job__title_nav">
          <div class="job__title__nav__item first">
            <a href="/">
              Home
            </a>
          </div>
          <div class="job__title__nav__item">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="job__title__nav__item last">
            Workout
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 20px 0;">
      <div class="menu__tab">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active" data-bs-toggle="pill" href="#monday" role="tab" aria-selected="true">Monday</a>
                  <a class="nav-link" data-bs-toggle="pill" href="#tuesday" role="tab" aria-selected="false">Tuesday</a>
                  <a class="nav-link" data-bs-toggle="pill" href="#wednesday" role="tab" aria-selected="false">Wednesday</a>
                  <a class="nav-link" data-bs-toggle="pill" href="#thursday" role="tab" aria-selected="false">Thursday</a>
                  <a class="nav-link" data-bs-toggle="pill" href="#friday" role="tab" aria-selected="false">Friday</a>
                  <a class="nav-link" data-bs-toggle="pill" href="#saturday" role="tab" aria-selected="false">Saturday</a>
                  <a class="nav-link" data-bs-toggle="pill" href="#sunday" role="tab" aria-selected="false">Sunday</a>
                </div>
                <div class="tab-content flex-grow-1" id="v-pills-tabContent">
                  <div class="tab-pane fade show active " id="monday" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <div class="menu__item">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://static.strengthlevel.com/images/illustrations/lying-leg-raise-1000x1000.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Lying Leg Raises
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 15 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://i.pinimg.com/1200x/b9/87/ea/b987ea276273c59c912b8e8a59469625.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Leg In and Out
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>2 rounds, each round 20 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://static.strengthlevel.com/images/illustrations/scissor-kicks-1000x1000.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Scissor Kick
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 12 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tuesday" role="tabpanel">
                    <div class="menu__item">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/crunches-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Crunches
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>2 rounds, each round 12 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/bicycle-crunches-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Bicycle Crunch
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>2 rounds, each round 12 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/reverse-crunches-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Half Seated Reverse Crunch
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 15 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="wednesday" role="tabpanel">
                    <div class="menu__item">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/sit-up-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Sit-ups
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 15 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/alternate-heel-touchers-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Heel Touch
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 20 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://fitnessprogramer.com/wp-content/uploads/2021/02/plank.gif" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Plank
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round keep 20s.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="thursday" role="tabpanel">
                    <div class="menu__item">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://static.strengthlevel.com/images/illustrations/lying-leg-raise-1000x1000.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Lying Leg Raises
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 15 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://i.pinimg.com/1200x/b9/87/ea/b987ea276273c59c912b8e8a59469625.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Leg In and Out
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>2 rounds, each round 20 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://static.strengthlevel.com/images/illustrations/scissor-kicks-1000x1000.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Scissor Kick
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 12 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="friday" role="tabpanel">
                    <div class="menu__item">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/crunches-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Crunches
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>2 rounds, each round 12 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/bicycle-crunches-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Bicycle Crunch
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>2 rounds, each round 12 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/reverse-crunches-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Half Seated Reverse Crunch
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 15 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="saturday" role="tabpanel">
                    <div class="menu__item">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/sit-up-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Sit-ups
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 15 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/alternate-heel-touchers-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Heel Touch
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 20 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://fitnessprogramer.com/wp-content/uploads/2021/02/plank.gif" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Plank
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round keep 20s.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="sunday" role="tabpanel">
                    <div class="menu__item">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/crunches-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Crunches
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>2 rounds, each round 12 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/bicycle-crunches-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Bicycle Crunch
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>2 rounds, each round 12 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px;">
                          <div class="menu__item__content">
                            <div class="menu__item__content__img">
                              <img src="https://www.spotebi.com/wp-content/uploads/2014/10/reverse-crunches-exercise-illustration.jpg" alt="workout-image">
                            </div>
                            <div class="menu__item__content__title">
                                                            <span>
                                                                Half Seated Reverse Crunch
                                                            </span>
                            </div>
                            <div class="menu__item__content__list">
                              <ul>
                                <li>3 rounds, each round 15 reps.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
          </div>
        </div>
      </div>
      <div class="menu__title-product">
                <span>
                    Register for gym membership
                </span>
      </div>
      <!--Render gym room-->
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12" style="padding: 10px;" th:each="room:${listRoom}">
          <div class="workout__room">
            <div class="workout__room__img">
              <img th:src="@{${room.logo}}" alt="room-image">
            </div>
            <div class="workout__room__content">
              <span th:text = "${room.name}"></span>
              <div>
                <span th:text = "${room.price}"></span>
                <span>/ Per month</span>
              </div>
            </div>
            <div class="workout__room__btn">
              <a th:href="@{/workout/register/{id}(id=${room.id})}">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block th:replace="layout :: footer"></th:block>
</body>
</html>