<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
    <th:block th:replace="layout :: header"></th:block>
    <div>
      <div class="home__slider">
        <div class="container">
          <div class="swiper swiper__product-category">
            <div class="swiper-wrapper">
              <div class="swiper-slide" th:each="blog:${sliderList}">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="home__slider__text">
                      <div class="home__slider__text__title" th:text = "${blog.title}">
                      </div>
                      <div class="home__slider__text__btn">
                        <a th:href="@{/blog/detail/{id}(id=${blog.id})}">
                          Detail
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="home__slider__img">
                      <img th:src="@{${blog.image}}" alt="slider-image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination" style="color: red;"></div>
            <div class="swiper-button-prev" style="margin-left: -12px; color: #CF3424;"></div>
            <div class="swiper-button-next" style="margin-right: -12px; color: #CF3424;"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" style="margin: 20px 0;">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="home__best-seller">
              <div class="home__best-seller__title">
                Best Seller
              </div>
              <div class="home__best-seller__content">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12" th:each="book:${listSeller}">
                    <div class="home__new__content__item home__best-seller__content__item">
                      <div class="home__new__content__item__img">
                        <a th:href="@{/book/detail/{id}(id=${book.id})}">
                          <img img th:src="@{${book.image}}"
                               alt="book-image">
                        </a>
                      </div>
                      <div class="home__new__content__item__text">
                        <div class="home__new__content__item__text__title">
                          <a th:href="@{/book/detail/{id}(id=${book.id})}" th:text = "${book.title}"></a>
                        </div>
                        <div class="home__new__content__item__text__author">
                          <span th:text = "${book.author}"></span>
                        </div>
                        <div class="home__new__content__item__text__price" th:if="${book.discountPercentage == null}">
                          <div class="home__new__content__item__text__price__main">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <span th:text = "${book.price}"></span>
                          </div>
                        </div>
                        <div class="home__new__content__item__text__price" th:if="${book.discountPercentage != null}">
                          <div class="home__new__content__item__text__price__main">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <span th:text = "${book.getPriceSale()}"></span>
                          </div>
                          <div class="home__new__content__item__text__price__sale">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <span th:text = "${book.price}"></span>
                          </div>
                        </div>
                        <div class="home__new__content__item__text__btn">
                          <a th:href="@{/cart/add/{id}(id=${book.id})}">
                            Add to cart
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="home__new">
              <div class="home__new__title">
                New Product
              </div>
              <div class="home__new__content">
                <div class="home__new__content__item" th:each="book:${listNewProduct}">
                  <div class="home__new__content__item__img">
                    <a th:href="@{/book/detail/{id}(id=${book.id})}">
                      <img th:src="@{${book.image}}" alt="book-image">
                    </a>
                  </div>
                  <div class="home__new__content__item__text">
                    <div class="home__new__content__item__text__title">
                      <a th:href="@{/book/detail/{id}(id=${book.id})}" th:text = "${book.title}">Dac Nhan Tam</a>
                    </div>
                    <div class="home__new__content__item__text__author">
                      <span th:text = "${book.author}"></span>
                    </div>
                    <div class="home__new__content__item__text__price" th:if="${book.discountPercentage == null}">
                      <div class="home__new__content__item__text__price__main">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <span th:text = "${book.price}"></span>
                      </div>
                    </div>
                    <div class="home__new__content__item__text__price" th:if="${book.discountPercentage != null}">
                      <div class="home__new__content__item__text__price__main">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <span th:text = "${book.getPriceSale()}"></span>
                      </div>
                      <div class="home__new__content__item__text__price__sale">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <span th:text = "${book.price}"></span>
                      </div>
                    </div>
                    <div class="home__new__content__item__text__btn">
                      <a th:href="@{/cart/add/{id}(id=${book.id})}">
                        Add to cart
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="home__category">
            <div class="home__category__text">
              <div class="home__category__text__title">
                Genres Products
              </div>
              <div class="home__category__text__btn">
                <a href="/book/list">
                  View all
                </a>
              </div>
            </div>
            <div class="home__category__content">
              <div class="row">
                <div class="product__category" style="border: none; padding: 0; margin-top: -10px;">
                  <div class="product__category__content">
                    <div class="swiper swiper__product-category">
                      <div class="swiper-wrapper" >
                        <div class="swiper-slide" th:each="list : ${handelSubList}">
                          <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12" th:each="category : ${list}">
                              <a th:href="@{/book/list/category/{id}(id=${category.id})}" style="text-decoration: none;">
                                <div class="product__category__item">
                                  <div class="product__category__item__img">
                                    <img src="https://pixlok.com/wp-content/uploads/2021/12/Technology-Icon-0oikef.png" alt="category-image">
                                  </div>
                                  <div class="product__category__item__name" th:text="${category.name}">
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-button-prev" style="margin-left: -12px;"></div>
                      <div class="swiper-button-next" style="margin-right: -12px;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Hot deals-->
        <div class="row">
          <div class="product__sale">
            <div class="product__sale__title">
              Hot Deals
            </div>
            <div class="product__sale__content">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12" th:each="book:${listTopSale}">
                  <div class="product__sale__content__item">
                    <div class="product__sale__content__item__img">
                      <a th:href="@{/book/detail/{id}(id=${book.id})}">
                        <img th:src="@{${book.image}}" alt="product-image">
                      </a>
                    </div>
                    <div class="product__sale__content__item__title">
                      <a th:href="@{/book/detail/{id}(id=${book.id})}" th:text = "${book.title}"></a>
                      <span th:text = "${book.discountPercentage}"></span>
                    </div>
                    <div class="product__sale__content__item__author">
                      <span th:text = "${book.author}"></span>
                    </div>
                    <div class="product__sale__content__item__price">
                      <div class="product__sale__content__item__price__main">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <span th:text = "${book.getPriceSale()}"></span>
                      </div>
                      <div class="product__sale__content__item__price__sale">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <span th:text = "${book.price}"></span>
                      </div>
                    </div>
                    <div class="product__sale__content__item__btn">
                      <a th:href="@{/cart/add/{id}(id=${book.id})}">Add to cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Follow-->
        <div class="row">
          <div class="home__subcribe">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="home__subcribe__text">
                  <div class="home__subcribe__text__title">
                    Join the community
                  </div>
                  <div class="home__subcribe__text__desc">
                    Enter your email address to receive regular updates, as well as news on upcoming events and specific offers.
                  </div>
                  <form th:action="@{/subscribe}" th:object="${subscribe}" method="post" >
                    <input type="email" th:field="*{email}" placeholder="Your email address" required>
                    <button type="submit">Subscribe</button>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="home__subcribe__img">
                  <img src="https://demo2.pavothemes.com/bookory/wp-content/uploads/2022/02/h2_img.png" alt="Subcribe-image">
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="home__blog">
            <div class="home__category__text">
              <div class="home__category__text__title">
                Latest Blog Post
              </div>
              <div class="home__category__text__btn">
                <a href="/blog/list">
                  View all
                </a>
              </div>
            </div>
            <div class="home__blog__content">
              <div class="row" style="margin: 20px 0;">
                <div class="col-lg-3 col-md-6 col-sm-12" th:each="blog:${listLastedBlog}">
                  <div class="blog__item">
                    <div class="blog__item__img">
                      <a th:href="@{/blog/detail/{id}(id=${blog.id})}">
                        <img th:src="@{${blog.image}}" alt="blog-image">
                      </a>
                    </div>
                    <div class="blog__item__text">
                      <div class="blog__item__text__date">
                        <span th:text = "${blog.datepost}">
                        </span>
                        <span>by</span>
                        <span>Admin</span>
                      </div>
                      <div class="blog__item__text__title">
                        <a th:href="@{/blog/detail/{id}(id=${blog.id})}" th:text = "${blog.title}">
                        </a>
                      </div>
                    </div>
                    <div class="blog__item__btn">
                      <div>
                        Ltech
                      </div>
                      <a th:href="@{/blog/detail/{id}(id=${blog.id})}">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home__voucher">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="home__voucher__text">
                <div class="home__voucher__intro">
                  The best of voucher
                </div>
                <div class="home__voucher__title">
                                  <span>
                                      Sale 20% Functional Foods
                                  </span>
                </div>
                <div class="home__voucher__code">
                                  <span>
                                      LTECH-20
                                  </span>
                </div>
                <div class="home__voucher__btn">
                  <a href="/book/list/category/1">See more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="home__voucher__img">
                <img src="https://cdn-icons-png.flaticon.com/512/3366/3366105.png" alt="voucher-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="layout :: footer"></th:block>
</body>
</html>